body{
    text-align: center;
    background-image:url("bp.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 114vh;
    background-position: center;
    }
    nav{padding:  10px;
    }
    a{
        color: white;
    }
    p{color:aquamarine}