<!DOCTYPE html>
<html lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>loja</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='estilo_loja.css')}}">

</head>
<body>
    <nav>
        <a href="/">telainicial</a> |
        <a href="/loja">loja</a> |
        <a href="/usuarios">usuario</a>
        <a href="/login">Login</a>
        <a href="/register">register</a>
   
  
    </nav>
    <h4 class="mb-4 pb-3">Login</h4>
    <form action="{{ url_for('login') }}" method="POST">
    <div class="form-group">
        <input type="email" class="form-style" placeholder="Email" name="email" required>
        <i class="input-icon uil uil-at"></i>
    </div>
    <div class="form-group mt-2">
        <input type="password" id="pwd" class="form-style" placeholder="Senha" name="senha" required>
        <input type="checkbox" id="chk"> mostrar
        <i class="input-icon uil uil-lock-alt"></i>
    </div>
    <button type="submit" class="btn mt-4">Login</button>
    
</body>
</html>
