<!DOCTYPE html>
<html lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>usuario</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='estilo_usuarios.css')}}">
    </head>
    <body>
        <nav>
          <a href="/">telainicial</a> 
          <a href="/loja">loja</a> 
          <a href="/usuarios">usuario</a> 
          <a href="/logout">Logout</a>
   
        </nav>
        <p style="font-size:20px;">meu nome é {{ user.nome }}<p>
        </body>
        </html>

